body {
    background-color: #000000;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #000000;
}

p {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 1px;
}